CATALOGS_COMPOSE_PROJECT=snowflake-telco-catalogs
ENTROPY_IMAGE_TAG=latest
ENTROPY_WEB_PORT=8095
ENTROPY_EXTERNAL_URL=http://localhost:8095
ENTROPY_DB_NAME=entropy_data
ENTROPY_DB_USER=entropy
ENTROPY_DB_PASSWORD=change_me
ENTROPY_SUPERADMINS=admin@example.com
ENTROPY_MAIL_FROM=Entropy Data <noreply@snowflake-telco-lab.local>
ENTROPY_DATACONTRACT_SPECIFICATIONS=odcs
ENTROPY_DATAPRODUCT_SPECIFICATIONTYPES=odps
ENTROPY_COMPROMISEDPASSWORDCHECKER_ENABLED=false
MAILHOG_UI_PORT=8026
MAILHOG_SMTP_PORT=1026
DMM_API_URL=http://localhost:8095
DMM_API_KEY=
