.DS_Store
.env
.env.catalogs
.env.jenkins
.pytest_cache/
.venv/
__pycache__/
*.pyc

dbt/dbt_packages/
dbt/logs/
dbt/target/

seed/output/*.csv
seed/output/*.csv.gz
seed/output/manifest.json

runtime/*
!runtime/.gitkeep

jenkins_home/
